* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    color: white;
    background: linear-gradient(180deg, #3b2fd8, #000);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
}

.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    opacity: 0.7;
}


.container {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.container h1 {
    font-size: 42px;
    max-width: 800px;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
    margin-bottom: 30px;
    opacity: 0.9;
}

.btn {
    padding: 15px 40px;
    background: linear-gradient(90deg, #5a6cff, #7b8cff);
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}